
AutoCodeforces/AutoCodeforces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoCodeforces/AutoCodeforces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoCodeforces/AutoCodeforces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoCodeforces/AutoCodeforces/obj/Debug/AutoCodeforces.pdb
AutoCodeforces/AutoCodeforces/obj/Debug/AutoCodeforces.exe
AutoCodeforces/AutoCodeforces/obj/Debug/AutoCodeforces.csprojAssemblyReference.cache
AutoCodeforces/AutoCodeforces/obj/Debug/AutoCodeforces.csproj.FileListAbsolute.txt
AutoCodeforces/AutoCodeforces/obj/Debug/AutoCodeforces.csproj.CoreCompileInputs.cache
AutoCodeforces/AutoCodeforces/obj/Debug/AutoCodeforces.csproj.CopyComplete
AutoCodeforces/AutoCodeforces/bin/Debug/WebDriver.xml
AutoCodeforces/AutoCodeforces/bin/Debug/WebDriver.Support.xml
AutoCodeforces/AutoCodeforces/bin/Debug/WebDriver.Support.dll
AutoCodeforces/AutoCodeforces/bin/Debug/WebDriver.dll
AutoCodeforces/AutoCodeforces/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
AutoCodeforces/AutoCodeforces/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
AutoCodeforces/AutoCodeforces/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
AutoCodeforces/AutoCodeforces/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
AutoCodeforces/AutoCodeforces/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
AutoCodeforces/AutoCodeforces/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
AutoCodeforces/AutoCodeforces/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
AutoCodeforces/AutoCodeforces/bin/Debug/chromedriver.exe
AutoCodeforces/AutoCodeforces/bin/Debug/AutoCodeforces.pdb
AutoCodeforces/AutoCodeforces/bin/Debug/AutoCodeforces.exe.config
AutoCodeforces/AutoCodeforces/bin/Debug/AutoCodeforces.exe
A4A/A4A/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
A4A/A4A/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
A4A/A4A/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
A4A/A4A/obj/Debug/A4A.pdb
A4A/A4A/obj/Debug/A4A.dll
A4A/A4A/obj/Debug/A4A.csprojAssemblyReference.cache
A4A/A4A/obj/Debug/A4A.csproj.FileListAbsolute.txt
A4A/A4A/obj/Debug/A4A.csproj.CopyComplete
A4A/A4A/obj/Debug/A4A.csproj.CoreCompileInputs.cache
A4A/A4A/A4A.csproj
A4A/A4A/A4A.csproj
A4A/.vs/config/applicationhost.config
A4A/A4A/bin/Antlr3.Runtime.dll
A4A/A4A/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
A4A/A4A/bin/Microsoft.Web.Infrastructure.dll
A4A/A4A/bin/Newtonsoft.Json.dll
A4A/A4A/bin/System.Web.Helpers.dll
A4A/A4A/bin/System.Web.Mvc.dll
A4A/A4A/bin/System.Web.Optimization.dll
A4A/A4A/bin/System.Web.Razor.dll
A4A/A4A/bin/System.Web.WebPages.Deployment.dll
A4A/A4A/bin/System.Web.WebPages.dll
A4A/A4A/bin/System.Web.WebPages.Razor.dll
A4A/A4A/bin/WebDriver.dll
A4A/A4A/bin/WebDriver.Support.dll
A4A/A4A/bin/WebGrease.dll
A4A/.vs/A4A/v15/Server/sqlite3/db.lock
A4A/.vs/A4A/v15/Server/sqlite3/storage.ide
A4A/.vs/A4A/v15/Server/sqlite3/storage.ide-shm
A4A/.vs/A4A/v15/Server/sqlite3/storage.ide-wal
A4A/.vs/A4A/v15/.suo
A4A/A4A/bin/A4A.dll
A4A/A4A/bin/A4A.dll.config
A4A/A4A/bin/A4A.pdb
A4A/A4A/bin/Antlr3.Runtime.pdb
A4A/A4A/bin/AutoCodeforces.exe
A4A/A4A/bin/AutoCodeforces.exe.config
A4A/A4A/bin/AutoCodeforces.pdb
A4A/A4A/bin/chromedriver.exe
A4A/A4A/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
A4A/A4A/bin/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
A4A/A4A/bin/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
A4A/A4A/bin/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
A4A/A4A/bin/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
A4A/A4A/bin/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
A4A/A4A/bin/Newtonsoft.Json.xml
A4A/A4A/bin/roslyn/csc.exe
A4A/A4A/bin/roslyn/csc.exe.config
A4A/A4A/bin/roslyn/csc.rsp
A4A/A4A/bin/roslyn/csi.exe
A4A/A4A/bin/roslyn/csi.exe.config
A4A/A4A/bin/roslyn/csi.rsp
A4A/A4A/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
A4A/A4A/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
A4A/A4A/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
A4A/A4A/bin/roslyn/Microsoft.CodeAnalysis.dll
A4A/A4A/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
A4A/A4A/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
A4A/A4A/bin/roslyn/Microsoft.CSharp.Core.targets
A4A/A4A/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
A4A/A4A/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
A4A/A4A/bin/roslyn/Microsoft.Managed.Core.targets
A4A/A4A/bin/roslyn/Microsoft.VisualBasic.Core.targets
A4A/A4A/bin/roslyn/System.AppContext.dll
A4A/A4A/bin/roslyn/System.Collections.Immutable.dll
A4A/A4A/bin/roslyn/System.Console.dll
A4A/A4A/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
A4A/A4A/bin/roslyn/System.Diagnostics.StackTrace.dll
A4A/A4A/bin/roslyn/System.IO.Compression.dll
A4A/A4A/bin/roslyn/System.IO.FileSystem.dll
A4A/A4A/bin/roslyn/System.IO.FileSystem.Primitives.dll
A4A/A4A/bin/roslyn/System.IO.Pipes.AccessControl.dll
A4A/A4A/bin/roslyn/System.IO.Pipes.dll
A4A/A4A/bin/roslyn/System.Reflection.Metadata.dll
A4A/A4A/bin/roslyn/System.Security.AccessControl.dll
A4A/A4A/bin/roslyn/System.Security.Claims.dll
A4A/A4A/bin/roslyn/System.Security.Cryptography.Algorithms.dll
A4A/A4A/bin/roslyn/System.Security.Cryptography.Encoding.dll
A4A/A4A/bin/roslyn/System.Security.Cryptography.Primitives.dll
A4A/A4A/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
A4A/A4A/bin/roslyn/System.Security.Principal.Windows.dll
A4A/A4A/bin/roslyn/System.Text.Encoding.CodePages.dll
A4A/A4A/bin/roslyn/System.ValueTuple.dll
A4A/A4A/bin/roslyn/System.Xml.ReaderWriter.dll
A4A/A4A/bin/roslyn/System.Xml.XmlDocument.dll
A4A/A4A/bin/roslyn/System.Xml.XPath.dll
A4A/A4A/bin/roslyn/System.Xml.XPath.XDocument.dll
A4A/A4A/bin/roslyn/vbc.exe
A4A/A4A/bin/roslyn/vbc.exe.config
A4A/A4A/bin/roslyn/vbc.rsp
A4A/A4A/bin/roslyn/VBCSCompiler.exe
A4A/A4A/bin/roslyn/VBCSCompiler.exe.config
A4A/A4A/bin/System.Web.Helpers.xml
A4A/A4A/bin/System.Web.Mvc.xml
A4A/A4A/bin/System.Web.Optimization.xml
A4A/A4A/bin/System.Web.Razor.xml
A4A/A4A/bin/System.Web.WebPages.Deployment.xml
A4A/A4A/bin/System.Web.WebPages.Razor.xml
A4A/A4A/bin/System.Web.WebPages.xml
A4A/A4A/bin/WebDriver.Support.xml
A4A/A4A/bin/WebDriver.xml
