@model FileStream
@{
    ViewBag.Title = "GetPdf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetPdf</h2>

<p>@Html.ActionLink("Mahboub", "GetPdf", "Home", new { fileName = "1A.pdf" }, null)</p>
<iframe src="https://codeforces.s3.amazonaws.com/100B.pdf" width="600" height="800"></iframe>
@*<embed src-“C:/Users/aashr/source/repos/A4A/codeforces/A1.pdf” width=”600” height=”500”> </embed>*@
