USE [master]
GO
/****** Object:  Database [A4A]    Script Date: 12/20/2019 8:44:58 PM ******/
CREATE DATABASE [A4A]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'A4A', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\A4A.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'A4A_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\A4A_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [A4A].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [A4A]
GO
/****** Object:  Table [dbo].[_Group]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Group](
	[GroupID] [int] NOT NULL,
	[GroupName] [varchar](50) NOT NULL,
	[GroupAdmin] [varchar](50) NOT NULL,
 CONSTRAINT [PK___Group__149AF30A9461D30B] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_User]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_User](
	[UserID] [varchar](50) NOT NULL,
	[Fname] [varchar](50) NOT NULL,
	[Lname] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Passowrd] [varchar](50) NOT NULL,
	[Rating] [int] NULL,
	[Type] [varchar](50) NULL,
 CONSTRAINT [PK___User__1788CCACE8E9381A] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [int] NOT NULL,
	[BlogTitle] [varchar](50) NOT NULL,
	[BlogWriter] [varchar](50) NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK__Blog__149AF30A12F3CDEA] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contest]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contest](
	[ContestID] [int] NOT NULL,
	[ContestName] [varchar](50) NOT NULL,
	[ContestDate] [date] NOT NULL,
	[ContestLength] [int] NOT NULL,
	[ContestWriter] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Contest__87DE08FAF5810C4A] PRIMARY KEY CLUSTERED 
(
	[ContestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContestProblems]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContestProblems](
	[ContestID] [int] NOT NULL,
	[ProblemID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friends]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friends](
	[UserID] [varchar](50) NOT NULL,
	[FriendID] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Friends__3DA43AFA2C1C95C8] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[FriendID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupContest]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupContest](
	[GroupID] [int] NOT NULL,
	[ContestID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[ContestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembers]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembers](
	[GroupID] [int] NOT NULL,
	[MemberID] [varchar](50) NOT NULL,
 CONSTRAINT [PK__GroupMem__8455F7B9EC2CDEE2] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMgrs]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMgrs](
	[MgrID] [varchar](50) NOT NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK__GroupMgr__5FE8A6B8DB76297F] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[MgrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[OrganizationID] [int] NOT NULL,
	[OrganizationName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrgGroups]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrgGroups](
	[GroupID] [int] NOT NULL,
	[OrgID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[OrgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[ContestantID] [varchar](50) NOT NULL,
	[ContestID] [int] NOT NULL,
 CONSTRAINT [PK__Particip__9798BAEAA12198C7] PRIMARY KEY CLUSTERED 
(
	[ContestantID] ASC,
	[ContestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Problem]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problem](
	[ProblemWriter] [varchar](50) NOT NULL,
	[ProblemName] [varchar](50) NOT NULL,
	[ProblemTopic] [varchar](50) NULL,
	[ProblemLink] [varchar](50) NOT NULL,
	[ProblemDifficulty] [int] NULL,
	[ProblemContest] [int] NOT NULL,
	[ProblemID] [varchar](50) NOT NULL,
 CONSTRAINT [pk_Problem_ID] PRIMARY KEY CLUSTERED 
(
	[ProblemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submission]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submission](
	[SubmissionID] [int] NOT NULL,
	[ContestantID] [int] NOT NULL,
	[SubmissionVerdict] [varchar](50) NOT NULL,
	[SubmissionMemory] [int] NULL,
	[SubmissionTime] [int] NOT NULL,
	[SubmissionDate] [date] NOT NULL,
	[SubmissionLang] [varchar](50) NOT NULL,
	[ProblemID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[TeamID] [int] NOT NULL,
	[TeamName] [varchar](50) NOT NULL,
	[Rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamContest]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamContest](
	[TeamID] [int] NOT NULL,
	[ContestID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC,
	[ContestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMembers]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[MemberID] [varchar](50) NOT NULL,
	[TeamID] [int] NOT NULL,
 CONSTRAINT [PK__TeamMemb__8DD3E54322DD9530] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC,
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[_Group] ([GroupID], [GroupName], [GroupAdmin]) VALUES (1, N'A4A', N'2')
INSERT [dbo].[_User] ([UserID], [Fname], [Lname], [Email], [Passowrd], [Rating], [Type]) VALUES (N'1', N'Ahmed', N'Ashraf', N'aashrafh31@gmail.com', N'123456789', 123456, N'Admin')
INSERT [dbo].[_User] ([UserID], [Fname], [Lname], [Email], [Passowrd], [Rating], [Type]) VALUES (N'2', N'Dola', N'Rizq', N'adel.m.rizq@gmail.com', N'987654321', 654321, N'Admin')
INSERT [dbo].[_User] ([UserID], [Fname], [Lname], [Email], [Passowrd], [Rating], [Type]) VALUES (N'3', N'Ahmed', N'Mahboub', N'ahmed.mahboub99@gmail,om', N'123454321', 3500, N'Admin')
INSERT [dbo].[Contest] ([ContestID], [ContestName], [ContestDate], [ContestLength], [ContestWriter]) VALUES (1, N'TestContest', CAST(N'2019-05-06' AS Date), 2, N'1')
INSERT [dbo].[Contest] ([ContestID], [ContestName], [ContestDate], [ContestLength], [ContestWriter]) VALUES (2, N'DolaContest', CAST(N'2002-02-12' AS Date), 2, N'1')
INSERT [dbo].[Contest] ([ContestID], [ContestName], [ContestDate], [ContestLength], [ContestWriter]) VALUES (100, N'CMP Contest 2022', CAST(N'2019-05-22' AS Date), 3, N'1')
INSERT [dbo].[ContestProblems] ([ContestID], [ProblemID]) VALUES (2, N'100A')
INSERT [dbo].[ContestProblems] ([ContestID], [ProblemID]) VALUES (1, N'100A')
INSERT [dbo].[ContestProblems] ([ContestID], [ProblemID]) VALUES (1, N'100B')
INSERT [dbo].[Participants] ([ContestantID], [ContestID]) VALUES (N'1', 2)
INSERT [dbo].[Participants] ([ContestantID], [ContestID]) VALUES (N'1', 100)
INSERT [dbo].[Participants] ([ContestantID], [ContestID]) VALUES (N'2', 1)
INSERT [dbo].[Problem] ([ProblemWriter], [ProblemName], [ProblemTopic], [ProblemLink], [ProblemDifficulty], [ProblemContest], [ProblemID]) VALUES (N'1', N'Carpeting the Room', N'Implementation', N'https://codeforces.s3.amazonaws.com/100A.pdf', 800, 100, N'100A')
INSERT [dbo].[Problem] ([ProblemWriter], [ProblemName], [ProblemTopic], [ProblemLink], [ProblemDifficulty], [ProblemContest], [ProblemID]) VALUES (N'1', N'Friendly Numbers', N'Implementation', N'https://codeforces.s3.amazonaws.com/100B.pdf', 1000, 100, N'100B')
INSERT [dbo].[Problem] ([ProblemWriter], [ProblemName], [ProblemTopic], [ProblemLink], [ProblemDifficulty], [ProblemContest], [ProblemID]) VALUES (N'1', N'A+B', N'Implementation', N'https://codeforces.s3.amazonaws.com/100C.pdf', 1200, 100, N'100C')
INSERT [dbo].[Submission] ([SubmissionID], [ContestantID], [SubmissionVerdict], [SubmissionMemory], [SubmissionTime], [SubmissionDate], [SubmissionLang], [ProblemID]) VALUES (52454088, 2, N'OK', 307200, 122, CAST(N'2019-04-07' AS Date), N'GNU C++14', N'102B')
/****** Object:  Index [UQ___Group__149AF30B468BD052]    Script Date: 12/20/2019 8:44:59 PM ******/
ALTER TABLE [dbo].[_Group] ADD  CONSTRAINT [UQ___Group__149AF30B468BD052] UNIQUE NONCLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ___User__1788CCAD0BB5866D]    Script Date: 12/20/2019 8:44:59 PM ******/
ALTER TABLE [dbo].[_User] ADD  CONSTRAINT [UQ___User__1788CCAD0BB5866D] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ___User__A9D10534F7ACAFFD]    Script Date: 12/20/2019 8:44:59 PM ******/
ALTER TABLE [dbo].[_User] ADD  CONSTRAINT [UQ___User__A9D10534F7ACAFFD] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Blog__54379E51BE60420B]    Script Date: 12/20/2019 8:44:59 PM ******/
ALTER TABLE [dbo].[Blog] ADD  CONSTRAINT [UQ__Blog__54379E51BE60420B] UNIQUE NONCLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Contest__87DE08FB532ACB49]    Script Date: 12/20/2019 8:44:59 PM ******/
ALTER TABLE [dbo].[Contest] ADD  CONSTRAINT [UQ__Contest__87DE08FB532ACB49] UNIQUE NONCLUSTERED 
(
	[ContestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Organiza__CADB0B73EDF75D1C]    Script Date: 12/20/2019 8:44:59 PM ******/
ALTER TABLE [dbo].[Organization] ADD UNIQUE NONCLUSTERED 
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Submissi__449EE1042D01589F]    Script Date: 12/20/2019 8:44:59 PM ******/
ALTER TABLE [dbo].[Submission] ADD UNIQUE NONCLUSTERED 
(
	[SubmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Team__123AE7B800BD967E]    Script Date: 12/20/2019 8:44:59 PM ******/
ALTER TABLE [dbo].[Team] ADD UNIQUE NONCLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[_User] ADD  CONSTRAINT [DF___User__Rating__5BE2A6F2]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Submission] ADD  DEFAULT ((0)) FOR [SubmissionMemory]
GO
ALTER TABLE [dbo].[Team] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[_Group]  WITH CHECK ADD  CONSTRAINT [FK___Group__GroupAdm__5EBF139D] FOREIGN KEY([GroupAdmin])
REFERENCES [dbo].[_User] ([UserID])
GO
ALTER TABLE [dbo].[_Group] CHECK CONSTRAINT [FK___Group__GroupAdm__5EBF139D]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK__Blog__BlogWriter__5FB337D6] FOREIGN KEY([BlogWriter])
REFERENCES [dbo].[_User] ([UserID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK__Blog__BlogWriter__5FB337D6]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK__Blog__GroupID__60A75C0F] FOREIGN KEY([GroupID])
REFERENCES [dbo].[_Group] ([GroupID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK__Blog__GroupID__60A75C0F]
GO
ALTER TABLE [dbo].[Contest]  WITH CHECK ADD  CONSTRAINT [FK__Contest__Contest__619B8048] FOREIGN KEY([ContestWriter])
REFERENCES [dbo].[_User] ([UserID])
GO
ALTER TABLE [dbo].[Contest] CHECK CONSTRAINT [FK__Contest__Contest__619B8048]
GO
ALTER TABLE [dbo].[ContestProblems]  WITH CHECK ADD  CONSTRAINT [FK_ContestProblems_Contest] FOREIGN KEY([ContestID])
REFERENCES [dbo].[Contest] ([ContestID])
GO
ALTER TABLE [dbo].[ContestProblems] CHECK CONSTRAINT [FK_ContestProblems_Contest]
GO
ALTER TABLE [dbo].[ContestProblems]  WITH CHECK ADD  CONSTRAINT [FK_ContestProblems_Problem] FOREIGN KEY([ProblemID])
REFERENCES [dbo].[Problem] ([ProblemID])
GO
ALTER TABLE [dbo].[ContestProblems] CHECK CONSTRAINT [FK_ContestProblems_Problem]
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK__Friends__FriendI__628FA481] FOREIGN KEY([FriendID])
REFERENCES [dbo].[_User] ([UserID])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK__Friends__FriendI__628FA481]
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK__Friends__UserID__6383C8BA] FOREIGN KEY([UserID])
REFERENCES [dbo].[_User] ([UserID])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK__Friends__UserID__6383C8BA]
GO
ALTER TABLE [dbo].[GroupContest]  WITH CHECK ADD  CONSTRAINT [FK__GroupCont__Conte__6477ECF3] FOREIGN KEY([ContestID])
REFERENCES [dbo].[Contest] ([ContestID])
GO
ALTER TABLE [dbo].[GroupContest] CHECK CONSTRAINT [FK__GroupCont__Conte__6477ECF3]
GO
ALTER TABLE [dbo].[GroupContest]  WITH CHECK ADD  CONSTRAINT [FK__GroupCont__Group__656C112C] FOREIGN KEY([GroupID])
REFERENCES [dbo].[_Group] ([GroupID])
GO
ALTER TABLE [dbo].[GroupContest] CHECK CONSTRAINT [FK__GroupCont__Group__656C112C]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK__GroupMemb__Group__66603565] FOREIGN KEY([GroupID])
REFERENCES [dbo].[_Group] ([GroupID])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK__GroupMemb__Group__66603565]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK__GroupMemb__Membe__6754599E] FOREIGN KEY([MemberID])
REFERENCES [dbo].[_User] ([UserID])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK__GroupMemb__Membe__6754599E]
GO
ALTER TABLE [dbo].[GroupMgrs]  WITH CHECK ADD  CONSTRAINT [FK__GroupMgrs__Group__68487DD7] FOREIGN KEY([GroupID])
REFERENCES [dbo].[_Group] ([GroupID])
GO
ALTER TABLE [dbo].[GroupMgrs] CHECK CONSTRAINT [FK__GroupMgrs__Group__68487DD7]
GO
ALTER TABLE [dbo].[GroupMgrs]  WITH CHECK ADD  CONSTRAINT [FK__GroupMgrs__MgrID__693CA210] FOREIGN KEY([MgrID])
REFERENCES [dbo].[_User] ([UserID])
GO
ALTER TABLE [dbo].[GroupMgrs] CHECK CONSTRAINT [FK__GroupMgrs__MgrID__693CA210]
GO
ALTER TABLE [dbo].[OrgGroups]  WITH CHECK ADD  CONSTRAINT [FK__OrgGroups__Group__6A30C649] FOREIGN KEY([GroupID])
REFERENCES [dbo].[_Group] ([GroupID])
GO
ALTER TABLE [dbo].[OrgGroups] CHECK CONSTRAINT [FK__OrgGroups__Group__6A30C649]
GO
ALTER TABLE [dbo].[OrgGroups]  WITH CHECK ADD FOREIGN KEY([OrgID])
REFERENCES [dbo].[Organization] ([OrganizationID])
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [FK__Participa__Conte__6C190EBB] FOREIGN KEY([ContestantID])
REFERENCES [dbo].[_User] ([UserID])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK__Participa__Conte__6C190EBB]
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [FK__Participa__Conte__6D0D32F4] FOREIGN KEY([ContestID])
REFERENCES [dbo].[Contest] ([ContestID])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK__Participa__Conte__6D0D32F4]
GO
ALTER TABLE [dbo].[Problem]  WITH CHECK ADD  CONSTRAINT [FK__Problem__Problem__6E01572D] FOREIGN KEY([ProblemContest])
REFERENCES [dbo].[Contest] ([ContestID])
GO
ALTER TABLE [dbo].[Problem] CHECK CONSTRAINT [FK__Problem__Problem__6E01572D]
GO
ALTER TABLE [dbo].[Problem]  WITH CHECK ADD  CONSTRAINT [FK__Problem__Problem__6EF57B66] FOREIGN KEY([ProblemWriter])
REFERENCES [dbo].[_User] ([UserID])
GO
ALTER TABLE [dbo].[Problem] CHECK CONSTRAINT [FK__Problem__Problem__6EF57B66]
GO
ALTER TABLE [dbo].[Submission]  WITH CHECK ADD  CONSTRAINT [FK__Submissio__Conte__6FE99F9F] FOREIGN KEY([ContestantID])
REFERENCES [dbo].[Contest] ([ContestID])
GO
ALTER TABLE [dbo].[Submission] CHECK CONSTRAINT [FK__Submissio__Conte__6FE99F9F]
GO
ALTER TABLE [dbo].[Submission]  WITH CHECK ADD  CONSTRAINT [fK_Problem_ID] FOREIGN KEY([ProblemID])
REFERENCES [dbo].[Problem] ([ProblemID])
GO
ALTER TABLE [dbo].[Submission] CHECK CONSTRAINT [fK_Problem_ID]
GO
ALTER TABLE [dbo].[TeamContest]  WITH CHECK ADD  CONSTRAINT [FK__TeamConte__Conte__71D1E811] FOREIGN KEY([ContestID])
REFERENCES [dbo].[Contest] ([ContestID])
GO
ALTER TABLE [dbo].[TeamContest] CHECK CONSTRAINT [FK__TeamConte__Conte__71D1E811]
GO
ALTER TABLE [dbo].[TeamContest]  WITH CHECK ADD FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK__TeamMembe__Membe__73BA3083] FOREIGN KEY([MemberID])
REFERENCES [dbo].[_User] ([UserID])
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK__TeamMembe__Membe__73BA3083]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK__TeamMembe__TeamI__74AE54BC] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK__TeamMembe__TeamI__74AE54BC]
GO
/****** Object:  StoredProcedure [dbo].[Check_Email_And_Password]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Check_Email_And_Password] 
	-- Add the parameters for the stored procedure here
	@Email varchar(50),
	@Password varchar (50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT _User.UserID 
	from _User 
	where _User.Email = @Email And _User.Passowrd = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[Count_Users]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Count_Users]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Count(*) 
	from _User
END
GO
/****** Object:  StoredProcedure [dbo].[CountGroups]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CountGroups]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select COunt(*) from _Group
END
GO
/****** Object:  StoredProcedure [dbo].[GetProblemNameByID]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetProblemNameByID]
	@ProblemID varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select Problem.ProblemName
	from Problem
	where ProblemID = @ProblemID
END
GO
/****** Object:  StoredProcedure [dbo].[GetSubmissionByID]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetSubmissionByID] 
	@SubmissionID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select *
	from Submission
	where SubmissionID = @SubmissionID
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_User]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_User]
	-- Add the parameters for the stored procedure here
	@UserID int,
	@Fname varchar(50),
	@Lname varchar(50),
	@Email varchar(50),
	@Password varchar(50),
	@Rating int,
	@Type varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into _User
	values (@UserID, @Fname, @Lname, @Email, @Password, @Rating, @Type)
END
GO
/****** Object:  StoredProcedure [dbo].[insertContest]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertContest]
	-- Add the parameters for the stored procedure here
	@ContestID int,
	@ContestName varchar(50),
	@ContestDate Date,
	@ContestLength int,
	@ContestWriterID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into Contest 
	values (@ContestID, @ContestName, @ContestDate, @ContestLength, @ContestWriterID)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertContestProblem]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertContestProblem]
	-- Add the parameters for the stored procedure here
	@ContestID int,
	@ProblemID varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into ContestProblems 
	values (@ContestID, @ProblemID)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertGroup]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[InsertGroup]
	-- Add the parameters for the stored procedure here
	@GroupID int,
	@GroupName varchar(50),
	@AdminID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into _Group
	values (@GroupID, @GroupName, @AdminID)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertSubmission]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertSubmission]
	@SubmissionID int,
	@ContestantID int, 
	@SubmissionVerdict varchar(50),
	@SubmissionMemory int,
	@SubmissionTime int,
	@SubmissionDate date,
	@SubmissionLang varchar(50),
	@ProblemID varchar(50)
AS
BEGIN
	insert into Submission
	values (@SubmissionID, @ContestantID, @SubmissionVerdict, @SubmissionMemory, @SubmissionTime, @SubmissionDate, @SubmissionLang, @ProblemID)
END
GO
/****** Object:  StoredProcedure [dbo].[LoadMyContests]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LoadMyContests] 
	-- Add the parameters for the stored procedure here
	@UserID int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT C.ContestID, C.ContestDate, C.ContestLength, C.ContestName, C.ContestWriter
	from _User U, Contest C, Participants P
	where U.UserID = p.ContestantID and C.ContestID = P.ContestID and U.UserID = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[Select_User]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_User]
	-- Add the parameters for the stored procedure here
	@UserID int
	
AS
BEGIN
	Select * From _User where _User.UserID = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SelectAll_Users]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectAll_Users] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	Select * From _User
END
GO
/****** Object:  StoredProcedure [dbo].[SelectAllOfContests]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectAllOfContests]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from Contest
END
GO
/****** Object:  StoredProcedure [dbo].[SelectAllOfGroups]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectAllOfGroups]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	from _Group
END
GO
/****** Object:  StoredProcedure [dbo].[SelectAllOfGroupsOfUser]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[SelectAllOfGroupsOfUser]
	-- Add the parameters for the stored procedure here
	@UserID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT G.GroupName, G.GroupAdmin, G.GroupID 
	from _Group G, GroupMembers GM
	where GM.MemberID = @UserID and G.GroupID = GM.GroupID
END
GO
/****** Object:  StoredProcedure [dbo].[selectAllOfProblems]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[selectAllOfProblems]
AS
BEGIN
	Select * from Problem;
END
GO
/****** Object:  StoredProcedure [dbo].[SelectContestProblems]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectContestProblems] 
	-- Add the parameters for the stored procedure here
	@ContestID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.ProblemID, P.ProblemContest, P.ProblemDifficulty, P.ProblemLink, P.ProblemName, P.ProblemTopic, P.ProblemWriter 
	from Problem P, Contest C, ContestProblems CP
	where P.ProblemID = cp.ProblemID and C.ContestID = cp.ContestID and C.ContestID = @ContestID
END
GO
/****** Object:  StoredProcedure [dbo].[SelectUser]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUser]
	-- Add the parameters for the stored procedure here
	@UserID int
	
AS
BEGIN
	Select * From _User where _User.UserID = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SelectUserNameByID]    Script Date: 12/20/2019 8:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectUserNameByID] 
	-- Add the parameters for the stored procedure here
	@UserID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Fname, Lname 
	from _User
	where @UserID = USERID
END
GO
USE [master]
GO
